section {
    &.sectionAboutUsIntro {
        width: 100%;

        .templateAboutIntro {
            width: 100%;
            margin-top: 124px;
            padding-left: 160px;
            @include flex(space-between, flex-start, row, initial);

            .leftSide {
                max-width: 556px;
                @include flex(flex-start, left, column, 32px);

                h1 {
                    font-size: 32px;
                    font-family: $fBold;
                    color: $Day00;
                }

                p {
                    margin-top: 32px;
                    font-size: 18px;
                    color: $Day05;
                    line-height: 28px;
                }
            }

            .sliderPlaceholder {
                width: 856px;
            }
        }
    }

    &.sectionWorkWithUs {
        max-width: 80%;
        .templateWorkWithUs {
            width: 100%;

            h1 {
                color: $Day00;
                font-size: 32px;
                font-family: $fBold;
            }

            ul {
                margin-top: 56px;
                @include flex(center, center, row, 56px);
                li.cardContent {
                    width: 378px;
                    height: 348px;
                    border-radius: 20px;
                    background: #1c140f;
                    padding: 16px;
                    position: relative;
                    transition: 0.5s;

                    .cardLabel {
                        width: 120px;
                        padding: 8px 12px;
                        border-radius: 2px;
                        background: rgba($Day00, 0.2);
                        z-index: 5;

                        h3 {
                            font-size: 16px;
                            white-space: nowrap;
                            color: rgba($Day05, 0.7);
                            font-family: $fLight;
                        }
                    }

                    .cardDetails {
                        margin-top: 26px;
                        z-index: 5;

                        h2 {
                            font-size: 28px;
                            color: $Day00;
                        }
                        p {
                            line-height: 26px;
                            font-family: $fLight;
                            margin-top: 16px;
                            font-size: 18px;
                            color: rgba($Day00, 0.6);
                            word-break: keep-all;
                        }
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        border-radius: 20px;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        border: 1px solid rgba($Day00, 0.2);
                        transition: 0.5s;
                        z-index: -2;
                    }

                    &:hover {
                        .cardLabel {
                            h3 {
                                @include typingAnimation(1s);
                            }
                        }
                        &::after {
                            top: 26px;
                            left: 26px;
                        }
                    }
                }
            }
        }
    }

    &.sectionContentDisplay {
        width: 100%;
        background: #1c140f;
        padding: 56px;
        .templateContentDisplay {
            max-width: 80%;
            @include flex(space-between, flex-start, row, initial);

            .imageWrapper {
                position: relative;
                transition: 0.5s;
                img {
                    width: 756px;
                    object-fit: cover;
                    border-radius: 8px;
                    transition: 0.5s;
                }

                &:hover {
                    transform: scale(1.2) translate(50%, 0);
                    ~ .contentDetails {
                        opacity: 0 !important;
                    }
                }
            }
            .contentDetails {
                // max-width: 756px;
                margin-left: 120px;
                transition: 0.5s;
                h3 {
                    color: rgba($Day00, 0.7);
                    font-size: 18px;
                    font-family: $fMedium;
                }
                h1 {
                    margin-top: 16px;
                    font-size: 32px;
                    color: $Day00;
                    font-family: $fBold;
                }
                p {
                    margin-top: 32px;
                    font-size: 18px;
                    color: rgba($Day00, 0.6);
                    font-family: $fLight;
                }
            }
        }
    }

    &.sectionOurTeam {
        width: 100%;
        .templateOurTeam {
            padding: 60px;
            width: 100%;
            @include centerEl;
            h1 {
                color: $Day00;
                font-size: 32px;
                font-family: $fBold;
            }

            ul {
                margin-top: 32px;
                @include flex(center, center, row, 32px);
                flex-wrap: wrap;
                cursor: default;

                &:hover {
                    li {
                        opacity: 0.4;
                    }
                }

                li {
                    width: 256px;
                    height: 256px;
                    @include flex(center, center, column, 16px);
                    background: #1c140f;
                    border-radius: 16px;
                    position: relative;
                    overflow: hidden;
                    transition: 0.5s;
                    .avatar {
                        width: 120px;
                        height: 120px;
                        @include centerEl;
                        @include mainGradient;
                        border-radius: 50%;
                        transition: 0.5s;

                        span {
                            font-size: 32px;
                            color: $Day00;
                            font-family: $fBold;
                        }
                    }

                    .visibleDetails {
                        @include flex(center, center, column, 8px);
                        span {
                            &:first-child {
                                color: $Day00;
                            }

                            color: rgba($Day00, 0.8);
                            font-size: 18px;
                        }
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        width: 50px;
                        height: 70px;
                        @include mainGradient;
                        top: -25px;
                        right: -25px;
                        border-radius: 20px;
                        transform: rotate(-45deg);
                    }

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
