@font-face {
    font-family: 'Rubik-Light';
    src: url(/src/assets/fonts/Rubik-Light.ttf);
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url(/src/assets/fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url(/src/assets/fonts/Rubik-Medium.ttf);
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url(/src/assets/fonts/Rubik-Bold.ttf);
}