$Day-Positive120 : #159E72;
$Day-Positive100 : #10B77F;
$Day-Positive80 : #3FC699;
$Day-Positive40 : #9DE1CB;
$Day-Positive20 : #C9EEE2;
$Day-Positive10 : #E2F4EE;
$Day-Positive05 : #EDF8F4;
// -------------------------
$Night-Positive120 : #52C7A0;
$Positive100 : #27B989;
$Night-Positive80 : #269C75;
$Night-Positive40 : #24604E;
$Night-Positive20 : #25463E;
$Night-Positive10 : #243835;
$Night-Positive05 : #232F2F;

//////////////////////////////

$Day-Negative120 : #C63F3F;
$Negative100 : #EF4343;
$Day-Negative80 : #F16A6A;
$Day-Negative40 : #F6B1B1;
$Day-Negative20 : #F8D8D8;
$Day-Negative10 : #FAEBEB;
$Day-Negative05 : #F9F1F1;
// --------------------------------
$Night-Negative120 : #F26E6E;
$Night-Negative100 : #EF4D4D;
$Night-Negative80 : #C84646;
$Night-Negative40 : #763739;
$Night-Negative20 : #4C2F30;
$Night-Negative10 : #362B2C;
$Night-Negative05 : #2D2A2C;

//////////////////////////////

$Day-Warning120 : #C19C25;
$Day-Warning100 : #EBB924;
$Day-Warning80 : #EEC64F;
$Day-Warning40 : #F4E1A4;
$Day-Warning20 : #F7EECF;
$Day-Warning10 : #F9F6E7;
$Day-Warning05 : #F9F8F0;
// --------------------------------
$Night-Warning120 : #EEC64F;
$Night-Warning100 : #EBB924;
$Night-Warning80 : #C19C25;
$Night-Warning40 : #726227;
$Night-Warning20 : #4C452A;
$Night-Warning10 : #383829;
$Night-Warning05 : #2C2E29;

//////////////////////////////
//////////////////////////////
/////////////////////////////

$Day21 : #0F1215;
$Day20 : #141719;
$Day19 : #171B1C;
$Day18 : #1A1E1F;
$Day17 : #1E2224;
$Day16 : #23282A;
$Day15 : #2A3032;
$Day14 : #31383A;
$Day13 : #424A4D;
$Day12 : #555F62;
$Day11 : #555F62;
$Day10 : #899194;
$Day09 : #A5AAAC;
$Day08 : #BCC1C2;
$Day07 : #D1D5D6;
$Day06 : #E1E4E5;
$Day05 : #E9EBEC;
$Day04 : #EEF1F1;
$Day03 : #F3F5F6;
$Day02 : #F6F8F8;
$Day01 : #F9FAFA;
$Day00 : #FFFFFF;
// ------------------------------
$Night21 : #FFFFFF;
$Night20 : #F9FAFA;
$Night19 : #F6F8F8;
$Night18 : #F3F5F6;
$Night17 : #EEF1F1;
$Night16 : #E9EBEC;
$Night15 : #E1E4E5;
$Night14 : #D1D5D6;
$Night13 : #BCC1C2;
$Night12 : #A5AAAC;
$Night11 : #899194;
$Night10 : #6F787B;
$Night09 : #555F62;
$Night08 : #424A4D;
$Night07 : #31383A;
$Night06 : #2A3032;
$Night05 : #23282A;
$Night04 : #1E2224;
$Night03 : #1A1E1F;
$Night02 : #171B1C;
$Night01 : #141719;
$Night00 : #0F1215;