* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fRegular;
}

body {
    background-image: url(../assets/images/pattern.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f16a6a;
    background-blend-mode: multiply;
    animation: float 30s ease-in-out infinite;

    @keyframes float {
        0% {
            background-position-y: -20px;
        }
        50% {
            background-position-y: -130px;
        }
        100% {
            background-position-y: 0px;
        }
    }

    ul {
        list-style-type: none;
    }

    .routerTransition {
        @include routerTransition();
    }

    section {
        margin: 76px auto;
    }
}
