* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fRegular;
}

body {
    background-image: url(../assets/images/pattern.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #F16A6A;
    background-blend-mode: multiply;

    ul {
        list-style-type: none;
    }

    .routerTransition {
        @include routerTransition()
    }

    section {
        margin: 76px auto;
    }

}