.sectionHomeIntro {
    width: 100%;

    .homeIntro {
        width: 100%;
        height: 920px;
        background-image: url(../../assets/images/mainBackground.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        padding: calc($sectionStartPadding + 36px) 0;


        .contentWrapper {
            @include flex(space-evenly, flex-start, row, 36px);
            position: relative;

            .leftSide {
                @include flex(flex-start, flex-start, column, 36px);
                z-index: 2;

                h5,
                h1,
                p {
                    font-family: $fBold;
                    max-width: 456px;
                }

                h5 {
                    color: #E87D0E;
                    font-size: 24px;
                    line-height: 36px;
                    @include typingAnimation(3.5s);
                }

                h1 {
                    font-size: 48px;
                    color: $Day00;
                }

                p {
                    color: $Day00;
                    line-height: 36px;
                    font-size: 18px;
                }
            }

            .rightSide {
                .imagePlaceholder {
                    position: relative;
                    width: 400px;

                    .imageWrapper {
                        @include centerEl;
                        position: absolute;
                        top: -250px;
                        animation: moveInCircle 25s linear infinite;

                        left: 0;

                        @keyframes moveInCircle {
                            0% {
                                transform: translateX(0) translateY(0);
                            }

                            25% {
                                transform: translateX(100px) translateY(0);
                            }

                            50% {
                                transform: translateX(0) translateY(100px);
                            }

                            75% {
                                transform: translateX(-100px) translateY(0);
                            }

                            100% {
                                transform: translateX(0) translateY(0);
                            }
                        }

                        img {
                            max-width: 660px;
                            object-fit: contain;
                        }
                    }

                }
            }
        }

        .scroller {
            margin-top: 176px;
        }

    }
}

.sectionTrendingGames {
    .templateTrendingGames {
        width: 100%;
        max-width: 70%;
        margin: auto;

        .trendingGamesTop {
            @include flex(space-between, center, row, initial);

            h1 {
                color: $Day02;
                font-size: 28px;
                font-family: $fBold;
            }

            .seeAll {
                @include centerEl;
                padding: 12px 16px;
                background: rgba($Day00, .4);
                border-radius: 6px;
                cursor: pointer;
                transition: .2s;

                &:hover {
                    background: $Negative100;
                }

                span {
                    font-size: 16px;
                    color: $Day00;
                }
            }
        }

        .trendingGamesContent {
            margin-top: 56px;

            ul {
                @include flex(space-between, center, row, 56px);

                li {
                    height: 296px;

                    .thumb {
                        @include centerEl;
                        width: 286px;
                        height: 100%;
                        overflow: hidden;
                        border-radius: 20px;
                        position: relative;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }


                        &::after {
                            content: '';
                            width: 100%;
                            height: 0;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: rgba($Day20, .5);
                            transition: .4s;
                        }

                        &::before {
                            content: '';
                            width: 0;
                            height: 8px;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            background: $Negative100;
                            transform: translate(-50%, 0);
                            transition: .4s;
                            z-index: 5;
                        }

                        .gameDetails {
                            height: 0;
                            @include flex(flex-start, flex-start, column, 8px);
                            position: absolute;
                            top: 36px;
                            left: 16px;
                            transition: .5s;
                            z-index: 5;
                            opacity: 0;

                            span {
                                font-size: 16px;
                                font-family: $fBold;
                                color: $Day00;

                                span {
                                    color: $Day00;

                                }
                            }
                        }
                    }

                    &:hover {
                        transform: translateY(-30px);

                        .thumb {
                            .gameDetails {
                                height: 100%;
                                opacity: 1;

                                span {
                                    &:nth-child(1) {
                                        @include typingAnimation(.4s);
                                    }

                                    &:nth-child(2) {
                                        @include typingAnimation(.8s);
                                    }

                                    &:nth-child(3) {
                                        @include typingAnimation(1.2s);
                                    }
                                }
                            }

                            &::after {
                                height: 100%;
                            }

                            &::before {
                                width: 100%;
                            }
                        }
                    }

                    .followers {
                        margin-top: 8px;
                        @include flex(center, center, row, 8px);


                        svg {
                            width: 12px;
                        }

                        h2 {
                            font-size: 18px;
                            color: $Day00;

                        }
                    }
                }
            }
        }
    }
}

.sectionSpotlight {
    max-width: 90%;
    margin: 120px auto;

    .templateSpotlight {
        width: 100%;
        position: relative;
        @include flex(center, unset, column, 32px);

        .spotlightLabel {
            margin: auto;
            max-width: 456px;
            text-align: center;

            h1 {
                font-size: 32px;
                color: $Day00;
            }
        }

        .subDescription {
            max-width: 556px;

            h2 {
                font-size: 22px;
                color: $Day00;
            }

            p {
                margin-top: 12px;
                font-size: 18px;
                color: $Day06;
            }
        }

        .spotLightImage {
            width: 100%;

            img {
                width: 100%;
                height: 426px;
                object-fit: cover;
            }
        }
    }
}


.sectionServices {
    background: rgba($Day15, .5);
    padding: 30px;

    .templateServices {
        max-width: 80%;
        margin: 80px auto;
        @include flex(center, center, column, 36px);

        h1,
        p {
            max-width: 756px;
            text-align: center;
        }

        h1 {
            font-size: 30px;
            color: $Day00;
        }

        p {
            margin-top: 25px;
            font-size: 18px;
            color: $Day07;
            font-family: $fRegular;
        }

        .servicesList {
            ul {
                @include flex(center, center, row, 16px);
                margin-top: 24px;

                li {
                    @include flex(center, center, row, 8px);

                    .iconWrapper {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        @include centerEl;
                        background: rgba($Negative100, .2);

                        svg {
                            width: 36px;
                        }
                    }

                    span {
                        font-family: $fBold;
                        font-size: 18px;
                        color: $Day00;
                        transition: .3s;
                    }

                    &:hover {
                        transform: scale(1.2);

                        span {
                            color: $Negative100;
                            ;
                        }

                        .iconWrapper svg {
                            path {
                                stroke: $Negative100;
                            }
                        }
                    }
                }
            }
        }
    }
}

.sectionGamingahowcase {
    max-width: 80%;
    margin: 58px auto;

    .templateGamingShowcase {
        width: 100%;
        @include flex(center, center, column, 16px);

        h1,
        p {
            max-width: 756px;
            text-align: center;
        }

        h1 {
            font-size: 32px;
            font-family: $fBold;
            color: $Day00;
            @include typingAnimation(2s);
        }

        p {
            margin-top: 16px;
            font-size: 16px;
            color: $Day05;
            line-height: 20px;
        }

        ul.showcaseImages {
            margin-top: 36px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 36px;

            li {
                width: 186;
                height: 186px;
                overflow: hidden;
                border-radius: 12px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 3s;
                }

                &:hover {
                    img {
                        transform: scale(1.5);
                    }
                }
            }
        }
    }

}

.sectionSubscribe {
    width: 100%;
    @include centerEl;
}