.sectionHomeIntro {
    width: 100%;
    height: 700px;
    background-image: url(../../assets/images/mainBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}